name: iOS CI/CD to TestFlight

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build-and-deploy-ios:
    runs-on: macos-latest
    steps:
      # 1. Checkout
      - uses: actions/checkout@v4

      # 2. Setup Flutter
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "stable"

      # 3. Install Dependencies
      - name: Flutter Pub Get
        run: flutter pub get

      # 4. Install Bundle (Fastlane)
      - name: Install Bundle
        run: |
          cd ios
          bundle install

      # 5. Run Fastlane beta lane (Build & Deploy)
      - name: Deploy to TestFlight
        run: |
          cd ios
          bundle exec fastlane beta
        env:
          APP_STORE_CONNECT_API_KEY_KEY_ID: ${{ secrets.APP_STORE_CONNECT_KEY_ID }}
          APP_STORE_CONNECT_API_KEY_ISSUER_ID: ${{ secrets.APP_STORE_CONNECT_ISSUER_ID }}
          APP_STORE_CONNECT_API_KEY_KEY: ${{ secrets.APP_STORE_CONNECT_PRIVATE_KEY }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}